.block-field {
    display: block;
    position: relative;
}

.inline-field {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.editor {
    height: auto;
    width: 512px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

td {
    border: 1px solid black ;
}

.block-field {
    display: block;
    position: relative;
}

.inline-field {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}


.media-asset-thumbnail {
    width: 128px;
    padding: 5px;
}
